{% extends "layout.html" %}

{% block title %}{{ todo_list.name }}{% endblock %}

{% block content %}
    <h2>{{ todo_list.name }}</h2>
    <ul>
        {% for item in todo_list.item_set.all %}
            <li>
                <a href="{% url 'todos:item' todo_list_pk=todo_list.pk item_pk=item.pk %}">{{ item.name }}</a>
                {{ item.created_at }}
                {% if item.completed %}
                    <input type="checkbox" checked="checked" disabled="disabled"/>
                {% else %}
                    <input type="checkbox" disabled="disabled"/>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'todos:create_item' todo_list_pk=todo_list.pk %}">New Item</a>
{% endblock %}